html, body {margin: 0; padding: 0;}
header div div{width: 25%; height: 20%; margin-left: auto; margin-right: auto; font-size: 30px; color: white;display: inline-block; padding: 5%;}
header div div:hover{background-color: dimgray;}
header {cursor: pointer;background-color: grey;}
/**************************************************************/



/**************************************************************/
@media screen and (max-width: 768px){
    header div div{font-size: 22px;}

}

@media screen and (max-width: 578px){
    header div div{font-size: 13px;}

}
