html, body {margin: 0; padding: 0;}
h1{
  text-align: center;
  color: dimgrey;
  font-family: cursive;
  background-image: url(../img/흰색배경.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.left {float: left;}


a{ text-decoration: none;}

.estimate {
  width: 50%;
  text-align: center;
  background-color: rgb(251, 182, 46);
  box-sizing: border-box;
  padding:  25% 0;
  color: white;
  font-size: 20px;
  font-family: monospace serif;
}
.estimate:hover{background-color: rgba(217, 35, 35, 0.73);}
.order {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  padding:  25% 0;
  color: white;
  background-color: rgb(229, 190, 255);
  font-size: 20px;
  font-family: monospace serif;
}
.order:hover{background-color:rgba(24, 70, 189, 0.77);}
/************************************************************************/

footer {
    float: right;
    width: 100%;
    height: 200px;
    background-image: url(../img/배경images.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


footer h3{text-align: center;}
.footContainer{padding: 0 5%;}
.footContainer div {font-size: 17px; float: left;}
.footContainer div div{clear: both;  margin-bottom: 5px; margin-left: 10px;}
.footContainer div a{cursor: pointer;}
.foot20{width: 20%; float: left;}
.foot20::after{clear: both;}
.foot80{width: 80%}


/*******************************************************************************/
@media screen and  (max-width: 768px) {

     .footContainer div {font-size: 14px;}
}


@media screen and (max-width: 578px) {

    .footContainer div {font-size: 13px;}
    footer{width: 100%;}
}
