html, body {margin: 0; padding: 0;}
h1{text-align: center; color: dimgrey; font-family: cursive;}


.container1{
    box-shadow: 3px 3px;
    display: block;
    box-sizing: border-box;
/*
    margin-left: 43%;
    margin-right: 0%;
    margin-bottom: 0%;
     margin-top: 5%;
*/
    border-radius: 45%;
    top: 15%;
    left: 43%;
    width: 200px;
    height: 200px;
    background-image: url(../img/원4.jpg);
    position: absolute;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 0.5s;


}
.container2{
    box-shadow: 3px 3px;
    display: block;
    box-sizing: border-box;
    float: right;
/*
     margin-left: 0%;
    margin-right: 20%;;
    margin-bottom: 0%;
     margin-top: 10%;
*/
    top: 40%;
    left: 68%;
    border-radius: 45%;
    width: 200px;
    height: 200px;
    background-image: url(../img/원1.jpg);
    position: absolute;
    -webkit-animation-name: example2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: example2;
    animation-duration: 4s;
    animation-delay: 0.5s;
}
.container3{
    box-shadow: 3px 3px;
    display: block;
    box-sizing: border-box;
/*
    margin-left: 15%;
    margin-right: 0%;
    margin-bottom: 0%;
     margin-top: 0%;;
*/
    top: 40%;
    left: 13%;
    border-radius: 45%;
    width: 200px;
    height: 200px;
    background-image: url(../img/원2.jpg);
    position: absolute;
    -webkit-animation-name: example3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: example3;
    animation-duration: 4s;
    animation-delay: 0.5s;
}
.container1:hover{cursor: pointer;}
.container2:hover{cursor: pointer;}
.container3:hover{cursor: pointer;}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-image: url(../img/원1.jpg); left:43%; top:15%;}
  25%  {background-image: url(../img/원2.jpg); left:68%; top:40%;}
/*  50%  {background-color:green; left:0px; top:500px;}*/
  75%  {background-image: url(../img/원3.jpg); left:13%; top:40%;}
  100% {background-image: url(../img/원4.jpg); left:43%; top:15%;}
}
@-webkit-keyframes example2 {
  0%   {background-image: url(../img/원2.jpg); left:68%; top:40%;}
  25%  {background-image: url(../img/원3.jpg); left:13%; top:40%;}
/*  50%  {background-color:red; left:200px; top:200px;}*/
  75%  {background-image: url(../img/원4.jpg); left:43%; top:15%;}
  100% {background-image: url(../img/원1.jpg); left:68%; top:40%;}
}
@-webkit-keyframes example3 {
  0%   {background-image: url(../img/원3.jpg); left:13%; top:40%;}
  25%  {background-image: url(../img/원4.jpg); left:43%; top:15%;}
/*  50%  {background-color:blue; left:200px; top:200px;}*/
  75%  {background-image: url(../img/원1.jpg); left:68%; top:40%;}
  100% {background-image: url(../img/원2.jpg); left:13%; top:40%;}
}

/************************************************************************/
section {
    width: 100%;
    height: 100%;
    min-height: 673px;
    background-image: url(../img/흰색배경.jpg);
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: center;
}
/*
section div a {text-align: center; padding-left: 10; font-family: Arial, Helvetica, sans-serif; font-size: 25px;}

*/
a{ text-decoration: none;}


/************************************************************************/

footer {
    float: right;
    width: 100%;
    height: 200px;
    background-image: url(../img/배경images.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}


footer h3{text-align: center;}
.footContainer{padding: 0 5%;}
.footContainer div {font-size: 17px; float: left;}
.footContainer div div{clear: both;  margin-bottom: 5px; margin-left: 10px;}
.footContainer div a{cursor: pointer;}
.foot20{width: 20%; float: left;}
.foot20::after{clear: both;}
.foot80{width: 80%}


/*******************************************************************************/
@media screen and  (max-width: 768px) {
  .container1{
      width: 150px;
      height: 150px;
      top: 15%;
      left: 43%;
  }
  .container2{
      width: 150px;
      height: 150px;
      top: 35%;
      left: 68%;
  }
  .container3{
      width: 150px;
      height: 150px;
      top: 35%;
      left: 13%;
  }
  @-webkit-keyframes example {
    0%   {background-image: url(../img/원1.jpg); left:43%; top:15%;}
    25%  {background-image: url(../img/원2.jpg); left:68%; top:35%;}
/*      50%  {background-color:green; left:0px; top:500px;}*/
    75%  {background-image: url(../img/원3.jpg); left:14%; top:35%;}
    100% {background-image: url(../img/원4.jpg); left:43%; top:15%;}
  }
  @-webkit-keyframes example2 {
    0%   {background-image: url(../img/원2.jpg); left:68%; top:35%;}
    25%  {background-image: url(../img/원3.jpg); left:13%; top:35%;}
  /*  50%  {background-color:red; left:200px; top:200px;}*/
    75%  {background-image: url(../img/원4.jpg); left:43%; top:15%;}
    100% {background-image: url(../img/원1.jpg); left:68%; top:35%;}
  }
  @-webkit-keyframes example3 {
    0%   {background-image: url(../img/원3.jpg); left:13%; top:35%;}
    25%  {background-image: url(../img/원4.jpg); left:43%; top:15%;}
  /*  50%  {background-color:blue; left:200px; top:200px;}*/
    75%  {background-image: url(../img/원1.jpg); left:68%; top:35%;}
    100% {background-image: url(../img/원2.jpg); left:13%; top:35%;}
  }


    section {
        min-height: 674px;
    }
    .footContainer div {font-size: 14px;}
}


@media screen and (max-width: 578px) {
    .container1{
        width: 100px;
        height: 100px;
        top: 15%;
        left: 38%;
    }
    .container2{
        width: 100px;
        height: 100px;
        top: 30%;
        left: 63%;
    }
    .container3{
        width: 100px;
        height: 100px;
        top: 30%;
        left: 10%;
    }
    @-webkit-keyframes example {
      0%   {background-image: url(../img/원1.jpg); left:38%; top:15%;}
      25%  {background-image: url(../img/원2.jpg); left:63%; top:30%;}
/*      50%  {background-color:green; left:0px; top:500px;}*/
      75%  {background-image: url(../img/원3.jpg); left:10%; top:30%;}
      100% {background-image: url(../img/원4.jpg); left:40%; top:15%;}
    }
    @-webkit-keyframes example2 {
      0%   {background-image: url(../img/원2.jpg); left:63%; top:30%;}
      25%  {background-image: url(../img/원3.jpg); left:10%; top:30%;}
    /*  50%  {background-color:red; left:200px; top:200px;}*/
      75%  {background-image: url(../img/원4.jpg); left:38%; top:15%;}
      100% {background-image: url(../img/원1.jpg); left:63%; top:30%;}
    }
    @-webkit-keyframes example3 {
      0%   {background-image: url(../img/원3.jpg); left:10%; top:30%;}
      25%  {background-image: url(../img/원4.jpg); left:38%; top:15%;}
    /*  50%  {background-color:blue; left:200px; top:200px;}*/
      75%  {background-image: url(../img/원1.jpg); left:63%; top:30%;}
      100% {background-image: url(../img/원2.jpg); left:10%; top:30%;}
    }

    section {
        min-height: 290px;
    }
    .footContainer div {font-size: 13px;}
    footer{width: 100%;}
}
