html, body {margin: 0; padding: 0;}
h1 {/*margin: 0; padding: 21.4px 0;*/ text-align: center; /*color: white; background-color: #0005ff*/}

.center{display: inline-block; box-sizing: border-box;  width: 100%; padding: 15px;}
.right {float: right; box-sizing: border-box; padding-right: 15px;}
.right::after{clear: both;}
.left {float: left;}
.left::after{clear: both;}

.textSize1{width: 99%; height: 40px; text-align: left; font-family: inherit;}
.textSize1-2 {width: calc(100% - 115px); height: 40px; text-align: left; font-family: inherit}
.textSize2{width: 80%; min-height: 100px; text-align: left; font-family: inherit; display: inline-block;}
.textSize2-2{width: calc(100% - 115px); height: 40px; text-align: left; font-family: inherit;}
.width50 {width: 48%;}
.buttonSize1 {
  padding: 15px;
   cursor: pointer;
   border-radius: 20%;
   background-color: rgb(131, 180, 245);
   border-color:rgb(131, 180, 245);
   color: white;
   font-size: 16px;
 }
.textSize3 {width:25%; height:35px; border:1px solid black;}
.marginBt{margin-bottom: 10px;}
.dn {display: none;}
/************************************************************************/
.font_box {
  text-align: center;
  padding: 15px;
  float: left;
  background-color: dimgray;
  border-radius: 25%;
  margin-right: 15px;
  color: white;
}
.font_box::after {clear: both;}
/*************************************************************************/

@media screen and  (max-width: 768px) {
  .tableSize input {width: 280px;}
  .textSize2-2 {width: 100%;}
  .width50 {width: 50%;}
  .textSize1-2 {width: 100%;}
}

@media screen and  (max-width: 576px) {
  .tableSize {font-size: 15px; width: 50%}
  .tableSize input {width: 125px;}
  .row-2 table{font-size: 15px;}
  .row-2 table input {width: 92px;}
  .left {padding: 0; margin: 0;}
  .right {padding-right: 15px;}
  .center{width: 100%;}
  .textSize1-2 {width: 100%;}
  .textSize2-2 {width: 100%;}
}
